/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --body-font: "Roboto", sans-serif;
  --medium: 500;
  --bold: 700;
  --primary-text-color: white;
  --second-text-color: rgb(94, 150, 183);
  --background: black;
}

header {
  border-top: 2px solid var(--primary-text-color);
  border-bottom: 2px solid var(--primary-text-color);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 10vh;
  z-index: 3;
  background-color: var(--background);
}
header img {
  align-self: flex-start;
  margin-right: 50px;
  height: 90%;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
header ul li {
  font-size: 30px;
  text-transform: uppercase;
}
header ul li a {
  color: var(--primary-text-color);
  transition: 0.3s;
}
header ul li a:hover {
  color: var(--second-text-color);
}

:root {
  --body-font: "Roboto", sans-serif;
  --medium: 500;
  --bold: 700;
  --primary-text-color: white;
  --second-text-color: rgb(94, 150, 183);
  --background: black;
}

body {
  background-color: var(--background);
  font-family: var(--body-font);
}

main {
  display: flex;
  height: 90vh;
}
main aside {
  position: fixed;
  height: 90vh;
  width: 6vw;
  border-right: 2px solid var(--primary-text-color);
}
main aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}
main aside ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 3vh;
}
main aside ul li a {
  color: var(--primary-text-color);
  transition: 0.3s;
}
main aside ul li a i {
  transform: scale(3.5);
  margin-top: 5vh;
  margin-bottom: 3.5vh;
}
main aside ul li a .rotate-90 {
  transform: rotate(70deg) scale(3.5);
}
main aside ul li:hover a {
  color: var(--second-text-color);
}
main .homepage {
  color: var(--primary-text-color);
  margin-left: 6vw;
  width: 94vw;
}
main .homepage article {
  margin: 5vh auto;
  width: 95%;
  border: 2px solid var(--primary-text-color);
  padding: 1.5% 1.5% 2.5%;
}
main .homepage article .homepage-title {
  color: var(--second-text-color);
  font-weight: var(--bold);
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 3vh;
}
main .homepage article span {
  text-transform: uppercase;
  color: var(--second-text-color);
}
main .homepage article .mb-6 {
  margin-bottom: 6vh;
}
main .homepage article .btn {
  text-transform: uppercase;
  padding: 1%;
  border: 2px solid var(--primary-text-color);
  background-color: var(--background);
  cursor: pointer;
  transition: 0.5s;
}
main .homepage article .btn:hover {
  border: 2px solid var(--background);
  background-color: var(--primary-text-color);
  color: var(--background);
}
main .homepage .discover {
  background-image: url(../ATU/images/discover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 15vh;
}
main .homepage .numbers {
  background-image: url(../ATU/images/numbers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .homepage .numbers .main-data-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
main .homepage .numbers .main-data-container .data-container {
  display: flex;
}
main .homepage .numbers .main-data-container .data-container img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
main .homepage .numbers .main-data-container .data-container .data {
  display: flex;
  flex-direction: column;
}
main .homepage .numbers .main-data-container .data-container .data p {
  margin-bottom: 1vh;
  color: var(--second-text-color);
}
main .homepage .numbers .main-data-container .data-container .data .italic {
  color: var(--primary-text-color);
  font-style: italic;
}
main .homepage .numbers .btn {
  position: absolute;
  bottom: 10%;
  right: 6%;
}

.planets {
  color: var(--primary-text-color);
  margin-left: 6vw;
  width: 94vw;
  display: flex;
}
.planets article {
  margin: 5vh auto;
  border: 2px solid var(--primary-text-color);
  padding: 1.5% 1.5% 2.5%;
}
.planets .planets-list {
  background-image: url(../ATU/images/numbers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 80%;
}
.planets .planets-list h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: var(--bold);
  margin-bottom: 15px;
}
.planets .planets-list #filter, .planets .planets-list input {
  border: 2px solid var(--primary-text-color);
  background-color: var(--background);
  color: var(--primary-text-color);
  padding: 5px;
  margin-bottom: 10px;
}
.planets .planets-list input {
  display: block;
  width: 97%;
}
.planets .planets-list .planets-list-header {
  background-color: var(--second-text-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--primary-text-color);
}
.planets .planets-list .planets-list-header p {
  font-weight: var(--bold);
}
.planets .planets-list .planets-list-number {
  margin-top: 20px;
  font-style: italic;
}
.planets .planets-list .planets-container {
  width: 100%;
  max-height: 65%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: transparent;
  scrollbar-width: none;
}
.planets .planets-list .planets-container .planet {
  width: 100%;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-text-color);
}
.planets .planets-list .planets-container .planet:hover {
  background-color: rgba(94, 150, 183, 0.8);
}
.planets .planets-list .planets-container::-webkit-scrollbar {
  display: none;
}
.planets .planet-info {
  width: 60%;
}

/*# sourceMappingURL=style.css.map */
